<div class="container">
  <h2 class="text-center">All listings</h2>
  <%= link_to "Create new listing", new_listing_path, class: "btn btn-primary w-100" %>
  <hr>

<%# SearchBar %>
  <div class="row">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group d-flex">
        <div class="col-9">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        </div>
        <div class="col-3 text-center">
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      </div>
    <% end %>
  </div>

<%# Iterate over ALL listings from ALL users - ordered by date created - creating a card for each listing %>

  <hr>


  <%# Iterate over listings for current_user %>

  <div class="row gx">

    <% @listings.each do |listing| %>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-2"><%= render 'shared/card', listing: listing %></div>
    <% end  %>
  </div>
</div>
